@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import '~react-tooltip/dist/react-tooltip.css';
  html {
    @apply bg-gray-100  antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent flicker of horizontal scrollbar when clicking "Manage" on user table */
    /* @apply bg-[url('/pattern.png')]; */
    /* @apply bg-repeat; */
  }

  body {
    @apply bg-tan-1 font-body text-[18px] text-brown print:bg-transparent print:text-black;

    & *:not(.porint-container, .print-container *) {
      @apply print:invisible;
    }

    .print-container,
    .print-container * {
      @apply visible print:visible !important;
    }
  }

  #__next {
    @apply min-h-[100svh];
  }

  table tr .cell {
    @apply px-2 py-2.5 text-[13px] text-gray-500;
  }

  table tr .cell:first-child {
    @apply pl-3 pr-2 font-medium  sm:pl-5;
  }

  table tr .cell:last-child {
    @apply pl-2 pr-3 sm:pr-5;
  }

  [type='checkbox']:checked,
  [type='radio']:checked {
    @apply border-transparent bg-primary-blue hover:bg-primary-blue focus:bg-primary-blue focus:ring-primary-blue focus-visible:ring-primary-blue active:bg-primary-blue active:ring-primary-blue;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply focus:ring-primary-blue focus-visible:ring-primary-blue active:ring-primary-blue;
  }
}

@layer components {
  .input {
    @apply block w-full rounded-lg border-gray-300 font-normal shadow-sm focus-within:ring-primary-blue focus:border-primary-blue focus:ring focus:ring-primary-blue/10;
  }
}

/* Uppy */
.uppy-Root .uppy-DragDrop-arrow {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.uppy-Root .uppy-DragDrop-container {
  opacity: 0.8;
}

.uppy-Root .uppy-DragDrop-inner {
  padding: 0;
}

@media print {
  @page {
    size: landscape;
    margin: 0in;
    width: 100%;
    max-width: 11in;
  }
}
